<h1>__ARCHITEKT</h1>

<div>{{toRender.title}}</div>

<div>
  <img src="{{toRender.link}}" alt="">
</div>

<div>{{toRender.description}}</div>

{{#if meta.meta}}
  <h5>THERE IS METADATA!</h5>
{{/if}}
<div id="footer">copyright {{toRender.author}}</div>