<h5>Make a new entry</h5>

<form action="/gallery" method="post">
  <label for="title">Title</label>
  <br>
  <input type="text" id="title" name="title" placeholder="Enter a title">
  <br>
  <br>
  <label for="author">Author</label>
  <br>
  <input type="text" id="author" name="author" placeholder="Author name">
  <br>
  <br>
  <label for="link">URL Link</label>
  <br>
  <input type="text" id="link" name="link" placeholder="URL">
  <br>
  <br>
  <label for="desc">Description</label>
  <br>
  <input type="text" id="desc" name="desc" placeholder="Description">
  <br>
  <br>
  <div class="add_meta_field">
  <ul id="meta_fields"></ul>

  <button id="add_meta_field_button" type="button" >Add Meta Data</button>

  <input type="submit" value="submit" method="POST">


</div>

</form>

<script src="/js/metaFields.js"></script>